.git/
.github/
.vs/
.vscode/

**/bin/
**/obj/
**/TestResults/
**/coverage/
**/coverage.*

*.user
*.suo
*.userosscache
*.sln.docstates

*.log
*.tmp
*.temp

docker-compose*.yml
Dockerfile*

docs/
wireframes/
