<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Exclude>
            [JassTournamentManager.Api]Microsoft.AspNetCore.OpenApi.Generated.*,
            [JassTournamentManager.Api]System.Runtime.CompilerServices.*
          </Exclude>
          <ExcludeByFile>
            **/Persistence/Migrations/*.cs,
            **/DependencyInjection.cs
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>